In [1]:
import pandas as pd 
import pyodbc
import sqlalchemy
import datetime as dt 
import numpy as np

#Se definen las conexiones

def get_engine():
    connection_string = "mssql+pyodbc://{0}@{2}:{1}@{2}.database.windows.net:{4}/{3}?driver=ODBC+Driver+17+for+SQL+Server".format(
                        'jrivas',
                        'XXXXX',
                        'koice',
                        'ko_ice',
                        1433)
    res = sqlalchemy.engine.create_engine(connection_string, connect_args={'autocommit': True})
    return res
    
def get_query(query):
    engine = get_engine()
    res = pd.read_sql(query, con=engine)
    return res

In [2]:
query = """ 


select distinct tt.user_id, tt.date_id, tt.is_reported, sl.Question, sl.Response, rpt.YearNbr, rpt.MonthDsc, rpt.DateFormat, rpt.LocationId, rpt.Code, rpt.BottlerName, rpt.LocationClusterName, rpt.MarketSegment, rpt.Segment, rpt.SessionUId, rpt.SceneUId, rpt.SceneType, rpt.SubsceneType, rpt.UserName, rpt.UserRole, rpt.Enf_KO, rpt.Enf_Comp, rpt.Enf_Propio 
from dbo.RPT_IR_TT_AllBottlers rpt 
join dbo.SurveyList sl on sl.SessionUid = rpt.SessionUId
join dbo.a_tt_10_CMP_r_traditional_data_01 tt on tt.SessionUid = sl.SessionUid
where rpt.YearNbr = 2021 and rpt.LocationClusterName = 'Traditional' and rpt.UserRole = 'Auditor' and sl.Question = '¿La tienda tiene libre acceso a Clientes?' and rpt.SceneType = 'Enfriador' 

 
"""

In [3]:
df = pd.DataFrame(get_query(query))
#df = df.sort_values(by="VisitStartDateTime",ascending=False)
df

,user_id,date_id,is_reported,Question,Response,YearNbr,MonthDsc,DateFormat,LocationId,Code,...,Segment,SessionUId,SceneUId,SceneType,SubsceneType,UserName,UserRole,Enf_KO,Enf_Comp,Enf_Propio
0,45788,20210106,1,¿La tienda tiene libre acceso a Clientes?,No,2021,Enero,2021-01-06,6425837,353999,...,Mediano,19d14aba-4f86-4936-8834-17815852134d,2c2460c9-f592-4d92-8562-7dbd116b7918,Enfriador,Enfriador Detallista,campeche@storecheck.com,Auditor,1,0,1
1,45788,20210106,1,¿La tienda tiene libre acceso a Clientes?,Yes,2021,Enero,2021-01-06,6419988,203889,...,Mediano,1d2d0d8b-734a-481b-9d9d-c6545e1c99cc,c7279b77-83d3-4e6b-aecf-b58a5e29cf48,Enfriador,Enfriador Competencia,campeche@storecheck.com,Auditor,1,1,0
2,45788,20210111,1,¿La tienda tiene libre acceso a Clientes?,Yes,2021,Enero,2021-01-11,6417407,256311,...,Mediano,4d5ffb54-4f18-41b3-b4d4-a4d87782f6a6,117aa527-4229-43d9-b813-23b931eb0eab,Enfriador,Enfriador Competencia,campeche@storecheck.com,Auditor,1,1,0
3,45788,20210112,1,¿La tienda tiene libre acceso a Clientes?,Yes,2021,Enero,2021-01-12,6292151,47182,...,Grande,28b937d5-14b1-4a90-bfbe-ae0a0bc55a42,50b9be8c-46e2-4fca-b255-b0a5eb1d8f95,Enfriador,Enfriador Detallista,campeche@storecheck.com,Auditor,2,0,1
4,45788,20210114,1,¿La tienda tiene libre acceso a Clientes?,Yes,2021,Enero,2021-01-14,6290100,45235,...,Mediano,0d3b46f7-a280-44a8-a7f7-f6b58e8fb73a,1a76ad18-63ce-46de-acbb-1512ff894d49,Enfriador,Enfriador Coca-Cola,campeche@storecheck.com,Auditor,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380390,56651,20210720,1,¿La tienda tiene libre acceso a Clientes?,Yes,2021,Julio,2021-07-20,6413255,520062963,...,Mediano,fb702c14-0c6e-4cb5-bbbd-9fb0ad0b3296,21efac36-7ace-448d-a642-aec8cb8f5fd3,Enfriador,Enfriador Coca-Cola,xalapa2@storecheck.com,Auditor,3,0,0
380391,56726,20210719,1,¿La tienda tiene libre acceso a Clientes?,Yes,2021,Julio,2021-07-19,6305286,10035781,...,Chico,9dd4be36-2830-485c-b1d7-6b74c2448ae3,d08d8182-e0b4-4edf-8cac-f1d7f7f8f5e8,Enfriador,Enfriador Coca-Cola,tijuana18@storecheck.com,Auditor,1,0,0
380392,56726,20210719,1,¿La tienda tiene libre acceso a Clientes?,Yes,2021,Julio,2021-07-19,6350892,10035920,...,Grande,cbe320c5-b9bb-4db4-9d98-ba012ba76e18,96d5b155-dc83-4a25-b25a-0f9be2344be2,Enfriador,Enfriador Competencia,tijuana18@storecheck.com,Auditor,2,1,0
380393,56726,20210720,1,¿La tienda tiene libre acceso a Clientes?,No,2021,Julio,2021-07-20,6351204,10036347,...,Grande,65bfbe46-e2bf-4ebd-ac5d-5247a9e3985a,418ce01e-fb6a-4886-bcc7-37c30c41cdd1,Enfriador,Enfriador Coca-Cola,tijuana18@storecheck.com,Auditor,2,0,0
380394,56726,20210720,1,¿La tienda tiene libre acceso a Clientes?,No,2021,Julio,2021-07-20,6351204,10036347,...,Grande,65bfbe46-e2bf-4ebd-ac5d-5247a9e3985a,c01d57a3-3fb0-4308-92bf-ac35316a152c,Enfriador,Enfriador Coca-Cola,tijuana18@storecheck.com,Auditor,2,0,0

In [4]:
df.duplicated(subset='SessionUId', keep='first').sum()

251745

In [5]:
df=df.drop_duplicates(subset=['SessionUId'])
df

,user_id,date_id,is_reported,Question,Response,YearNbr,MonthDsc,DateFormat,LocationId,Code,...,Segment,SessionUId,SceneUId,SceneType,SubsceneType,UserName,UserRole,Enf_KO,Enf_Comp,Enf_Propio
0,45788,20210106,1,¿La tienda tiene libre acceso a Clientes?,No,2021,Enero,2021-01-06,6425837,353999,...,Mediano,19d14aba-4f86-4936-8834-17815852134d,2c2460c9-f592-4d92-8562-7dbd116b7918,Enfriador,Enfriador Detallista,campeche@storecheck.com,Auditor,1,0,1
1,45788,20210106,1,¿La tienda tiene libre acceso a Clientes?,Yes,2021,Enero,2021-01-06,6419988,203889,...,Mediano,1d2d0d8b-734a-481b-9d9d-c6545e1c99cc,c7279b77-83d3-4e6b-aecf-b58a5e29cf48,Enfriador,Enfriador Competencia,campeche@storecheck.com,Auditor,1,1,0
2,45788,20210111,1,¿La tienda tiene libre acceso a Clientes?,Yes,2021,Enero,2021-01-11,6417407,256311,...,Mediano,4d5ffb54-4f18-41b3-b4d4-a4d87782f6a6,117aa527-4229-43d9-b813-23b931eb0eab,Enfriador,Enfriador Competencia,campeche@storecheck.com,Auditor,1,1,0
3,45788,20210112,1,¿La tienda tiene libre acceso a Clientes?,Yes,2021,Enero,2021-01-12,6292151,47182,...,Grande,28b937d5-14b1-4a90-bfbe-ae0a0bc55a42,50b9be8c-46e2-4fca-b255-b0a5eb1d8f95,Enfriador,Enfriador Detallista,campeche@storecheck.com,Auditor,2,0,1
4,45788,20210114,1,¿La tienda tiene libre acceso a Clientes?,Yes,2021,Enero,2021-01-14,6290100,45235,...,Mediano,0d3b46f7-a280-44a8-a7f7-f6b58e8fb73a,1a76ad18-63ce-46de-acbb-1512ff894d49,Enfriador,Enfriador Coca-Cola,campeche@storecheck.com,Auditor,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380338,56580,20210714,1,¿La tienda tiene libre acceso a Clientes?,Yes,2021,Julio,2021-07-14,6811968,90112612,...,Mediano,e58ce95b-9df4-435b-a491-ba795532b5e2,104e9d3b-ed32-47de-8d81-9f0b966c1f6b,Enfriador,Enfriador Coca-Cola,nogales3@storecheck.com,Auditor,1,0,0
380355,56651,20210719,1,¿La tienda tiene libre acceso a Clientes?,No,2021,Julio,2021-07-19,6368842,502502224,...,Mediano,44f69133-6805-4ae6-9c66-8b65052f407a,0578628b-9d52-4408-a8e9-52317dd5102f,Enfriador,Enfriador Coca-Cola,xalapa2@storecheck.com,Auditor,1,0,0
380369,56726,20210720,1,¿La tienda tiene libre acceso a Clientes?,No,2021,Julio,2021-07-20,6351013,10036283,...,Grande,66303e77-71c0-4460-bf2f-b5e613cba126,6401eec6-9d19-4401-8c23-06f4f0dac525,Enfriador,Enfriador Competencia,tijuana18@storecheck.com,Auditor,2,1,0
380391,56726,20210719,1,¿La tienda tiene libre acceso a Clientes?,Yes,2021,Julio,2021-07-19,6305286,10035781,...,Chico,9dd4be36-2830-485c-b1d7-6b74c2448ae3,d08d8182-e0b4-4edf-8cac-f1d7f7f8f5e8,Enfriador,Enfriador Coca-Cola,tijuana18@storecheck.com,Auditor,1,0,0
380393,56726,20210720,1,¿La tienda tiene libre acceso a Clientes?,No,2021,Julio,2021-07-20,6351204,10036347,...,Grande,65bfbe46-e2bf-4ebd-ac5d-5247a9e3985a,418ce01e-fb6a-4886-bcc7-37c30c41cdd1,Enfriador,Enfriador Coca-Cola,tijuana18@storecheck.com,Auditor,2,0,0

In [6]:
df[["DateFormat"]] = df[["DateFormat"]].apply(pd.to_datetime)

C:\Users\Lenovo\anaconda3\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128650 entries, 0 to 380393
Data columns (total 23 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   user_id              128650 non-null  int64
 1   date_id              128650 non-null  int64
 2   is_reported          128650 non-null  int64
 3   Question             128650 non-null  object
 4   Response             128650 non-null  object
 5   YearNbr              128650 non-null  int64
 6   MonthDsc             128650 non-null  object
 7   DateFormat           128650 non-null  datetime64[ns]
 8   LocationId           128650 non-null  int64
 9   Code                 128650 non-null  object
 10  BottlerName          128650 non-null  object
 11  LocationClusterName  128650 non-null  object
 12  MarketSegment        128605 non-null  object
 13  Segment              128650 non-null  object
 14  SessionUId           128650 non-null  object
 15  SceneUId             128650 non-null  object
 16  SceneType            128650 non-null  object
 17  SubsceneType         128650 non-null  object
 18  UserName             128650 non-null  object
 19  UserRole             128650 non-null  object
 20  Enf_KO               128650 non-null  int64
 21  Enf_Comp             128650 non-null  int64
 22  Enf_Propio           128650 non-null  int64
dtypes: datetime64[ns](1), int64(8), object(14)
memory usage: 23.6+ MB

In [8]:
df['day'] = df['DateFormat'].dt.day

<ipython-input-8-c51636ced5be>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day'] = df['DateFormat'].dt.day

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128650 entries, 0 to 380393
Data columns (total 24 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   user_id              128650 non-null  int64
 1   date_id              128650 non-null  int64
 2   is_reported          128650 non-null  int64
 3   Question             128650 non-null  object
 4   Response             128650 non-null  object
 5   YearNbr              128650 non-null  int64
 6   MonthDsc             128650 non-null  object
 7   DateFormat           128650 non-null  datetime64[ns]
 8   LocationId           128650 non-null  int64
 9   Code                 128650 non-null  object
 10  BottlerName          128650 non-null  object
 11  LocationClusterName  128650 non-null  object
 12  MarketSegment        128605 non-null  object
 13  Segment              128650 non-null  object
 14  SessionUId           128650 non-null  object
 15  SceneUId             128650 non-null  object
 16  SceneType            128650 non-null  object
 17  SubsceneType         128650 non-null  object
 18  UserName             128650 non-null  object
 19  UserRole             128650 non-null  object
 20  Enf_KO               128650 non-null  int64
 21  Enf_Comp             128650 non-null  int64
 22  Enf_Propio           128650 non-null  int64
 23  day                  128650 non-null  int64
dtypes: datetime64[ns](1), int64(9), object(14)
memory usage: 24.5+ MB

In [10]:
df['month'] = df['DateFormat'].dt.month
df.info()

<ipython-input-10-a06de6e2b1ce>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['DateFormat'].dt.month

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128650 entries, 0 to 380393
Data columns (total 25 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   user_id              128650 non-null  int64
 1   date_id              128650 non-null  int64
 2   is_reported          128650 non-null  int64
 3   Question             128650 non-null  object
 4   Response             128650 non-null  object
 5   YearNbr              128650 non-null  int64
 6   MonthDsc             128650 non-null  object
 7   DateFormat           128650 non-null  datetime64[ns]
 8   LocationId           128650 non-null  int64
 9   Code                 128650 non-null  object
 10  BottlerName          128650 non-null  object
 11  LocationClusterName  128650 non-null  object
 12  MarketSegment        128605 non-null  object
 13  Segment              128650 non-null  object
 14  SessionUId           128650 non-null  object
 15  SceneUId             128650 non-null  object
 16  SceneType            128650 non-null  object
 17  SubsceneType         128650 non-null  object
 18  UserName             128650 non-null  object
 19  UserRole             128650 non-null  object
 20  Enf_KO               128650 non-null  int64
 21  Enf_Comp             128650 non-null  int64
 22  Enf_Propio           128650 non-null  int64
 23  day                  128650 non-null  int64
 24  month                128650 non-null  int64
dtypes: datetime64[ns](1), int64(10), object(14)
memory usage: 25.5+ MB

In [11]:
table = pd.pivot_table(df, values=['Enf_KO','Enf_Comp', 'Enf_Propio'], index=['user_id', 'date_id', 'LocationId', 'is_reported', 'DateFormat', 'month', 'day', 'SessionUId'],
                     fill_value=0)
table=pd.DataFrame(table)
table

                                                                                                   Enf_Comp  \
user_id date_id  LocationId is_reported DateFormat month day SessionUId
45788   20210102 6281501    1           2021-01-02 1     2   0f1d8335-118c-4e4f-bde9-60b419b5cc1f         0
                 6419133    1           2021-01-02 1     2   4ad6d677-73ae-4b35-b2f3-8aaaa15801ec         1
        20210104 6281514    1           2021-01-04 1     4   50939153-6605-40e0-9588-435d6b71542a         1
                 6291395    1           2021-01-04 1     4   11843607-bf15-487f-8fcc-d785b13e4e50         1
                 6292154    1           2021-01-04 1     4   90cdeaf7-57ae-4e51-a2dd-b2751f4ad575         0
...                                                                                                     ...
56726   20210720 6351020    1           2021-07-20 7     20  36714daa-7124-4ee4-882a-7160de18381e         0
                 6351187    1           2021-07-20 7     20  e3600117-ebef-4bfd-99e6-d17cf6709887         0
                 6351204    1           2021-07-20 7     20  65bfbe46-e2bf-4ebd-ac5d-5247a9e3985a         0
                 9080642    1           2021-07-20 7     20  40e93c57-7972-49b9-aeee-cf1ebf6fe18f         0
                 10068808   1           2021-07-20 7     20  f1cb6b8e-8e53-45f3-95e8-634679084848         1

                                                                                                   Enf_KO  \
user_id date_id  LocationId is_reported DateFormat month day SessionUId
45788   20210102 6281501    1           2021-01-02 1     2   0f1d8335-118c-4e4f-bde9-60b419b5cc1f       1
                 6419133    1           2021-01-02 1     2   4ad6d677-73ae-4b35-b2f3-8aaaa15801ec       1
        20210104 6281514    1           2021-01-04 1     4   50939153-6605-40e0-9588-435d6b71542a       1
                 6291395    1           2021-01-04 1     4   11843607-bf15-487f-8fcc-d785b13e4e50       2
                 6292154    1           2021-01-04 1     4   90cdeaf7-57ae-4e51-a2dd-b2751f4ad575       1
...                                                                                                   ...
56726   20210720 6351020    1           2021-07-20 7     20  36714daa-7124-4ee4-882a-7160de18381e       1
                 6351187    1           2021-07-20 7     20  e3600117-ebef-4bfd-99e6-d17cf6709887       1
                 6351204    1           2021-07-20 7     20  65bfbe46-e2bf-4ebd-ac5d-5247a9e3985a       2
                 9080642    1           2021-07-20 7     20  40e93c57-7972-49b9-aeee-cf1ebf6fe18f       2
                 10068808   1           2021-07-20 7     20  f1cb6b8e-8e53-45f3-95e8-634679084848       2

                                                                                                   Enf_Propio
user_id date_id  LocationId is_reported DateFormat month day SessionUId
45788   20210102 6281501    1           2021-01-02 1     2   0f1d8335-118c-4e4f-bde9-60b419b5cc1f           0
                 6419133    1           2021-01-02 1     2   4ad6d677-73ae-4b35-b2f3-8aaaa15801ec           1
        20210104 6281514    1           2021-01-04 1     4   50939153-6605-40e0-9588-435d6b71542a           0
                 6291395    1           2021-01-04 1     4   11843607-bf15-487f-8fcc-d785b13e4e50           1
                 6292154    1           2021-01-04 1     4   90cdeaf7-57ae-4e51-a2dd-b2751f4ad575           0
...                                                                                                       ...
56726   20210720 6351020    1           2021-07-20 7     20  36714daa-7124-4ee4-882a-7160de18381e           0
                 6351187    1           2021-07-20 7     20  e3600117-ebef-4bfd-99e6-d17cf6709887           1
                 6351204    1           2021-07-20 7     20  65bfbe46-e2bf-4ebd-ac5d-5247a9e3985a           0
                 9080642    1           2021-07-20 7     20  40e93c57-7972-49b9-aeee-cf1ebf6fe18f           0
                 10068808   1           2021-07-20 7     20  f1cb6b8e-8e53-45f3-95e8-634679084848           0

[128650 rows x 3 columns]

In [12]:
table = table.reset_index()
table

,user_id,date_id,LocationId,is_reported,DateFormat,month,day,SessionUId,Enf_Comp,Enf_KO,Enf_Propio
0,45788,20210102,6281501,1,2021-01-02,1,2,0f1d8335-118c-4e4f-bde9-60b419b5cc1f,0,1,0
1,45788,20210102,6419133,1,2021-01-02,1,2,4ad6d677-73ae-4b35-b2f3-8aaaa15801ec,1,1,1
2,45788,20210104,6281514,1,2021-01-04,1,4,50939153-6605-40e0-9588-435d6b71542a,1,1,0
3,45788,20210104,6291395,1,2021-01-04,1,4,11843607-bf15-487f-8fcc-d785b13e4e50,1,2,1
4,45788,20210104,6292154,1,2021-01-04,1,4,90cdeaf7-57ae-4e51-a2dd-b2751f4ad575,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
128645,56726,20210720,6351020,1,2021-07-20,7,20,36714daa-7124-4ee4-882a-7160de18381e,0,1,0
128646,56726,20210720,6351187,1,2021-07-20,7,20,e3600117-ebef-4bfd-99e6-d17cf6709887,0,1,1
128647,56726,20210720,6351204,1,2021-07-20,7,20,65bfbe46-e2bf-4ebd-ac5d-5247a9e3985a,0,2,0
128648,56726,20210720,9080642,1,2021-07-20,7,20,40e93c57-7972-49b9-aeee-cf1ebf6fe18f,0,2,0
128649,56726,20210720,10068808,1,2021-07-20,7,20,f1cb6b8e-8e53-45f3-95e8-634679084848,1,2,0

In [13]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128650 entries, 0 to 128649
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id      128650 non-null  int64
 1   date_id      128650 non-null  int64
 2   LocationId   128650 non-null  int64
 3   is_reported  128650 non-null  int64
 4   DateFormat   128650 non-null  datetime64[ns]
 5   month        128650 non-null  int64
 6   day          128650 non-null  int64
 7   SessionUId   128650 non-null  object
 8   Enf_Comp     128650 non-null  int64
 9   Enf_KO       128650 non-null  int64
 10  Enf_Propio   128650 non-null  int64
dtypes: datetime64[ns](1), int64(9), object(1)
memory usage: 10.8+ MB

In [14]:
moni=table.groupby(['user_id', 'date_id', 'LocationId', 'SessionUId', 'is_reported', 'DateFormat', 'month', 'day'])['Enf_KO', 'Enf_Comp', 'Enf_Propio'].sum()
moni

<ipython-input-14-769578887161>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  moni=table.groupby(['user_id', 'date_id', 'LocationId', 'SessionUId', 'is_reported', 'DateFormat', 'month', 'day'])['Enf_KO', 'Enf_Comp', 'Enf_Propio'].sum()

                                                                                                   Enf_KO  \
user_id date_id  LocationId SessionUId                           is_reported DateFormat month day
45788   20210102 6281501    0f1d8335-118c-4e4f-bde9-60b419b5cc1f 1           2021-01-02 1     2         1
                 6419133    4ad6d677-73ae-4b35-b2f3-8aaaa15801ec 1           2021-01-02 1     2         1
        20210104 6281514    50939153-6605-40e0-9588-435d6b71542a 1           2021-01-04 1     4         1
                 6291395    11843607-bf15-487f-8fcc-d785b13e4e50 1           2021-01-04 1     4         2
                 6292154    90cdeaf7-57ae-4e51-a2dd-b2751f4ad575 1           2021-01-04 1     4         1
...                                                                                                   ...
56726   20210720 6351020    36714daa-7124-4ee4-882a-7160de18381e 1           2021-07-20 7     20        1
                 6351187    e3600117-ebef-4bfd-99e6-d17cf6709887 1           2021-07-20 7     20        1
                 6351204    65bfbe46-e2bf-4ebd-ac5d-5247a9e3985a 1           2021-07-20 7     20        2
                 9080642    40e93c57-7972-49b9-aeee-cf1ebf6fe18f 1           2021-07-20 7     20        2
                 10068808   f1cb6b8e-8e53-45f3-95e8-634679084848 1           2021-07-20 7     20        2

                                                                                                   Enf_Comp  \
user_id date_id  LocationId SessionUId                           is_reported DateFormat month day
45788   20210102 6281501    0f1d8335-118c-4e4f-bde9-60b419b5cc1f 1           2021-01-02 1     2           0
                 6419133    4ad6d677-73ae-4b35-b2f3-8aaaa15801ec 1           2021-01-02 1     2           1
        20210104 6281514    50939153-6605-40e0-9588-435d6b71542a 1           2021-01-04 1     4           1
                 6291395    11843607-bf15-487f-8fcc-d785b13e4e50 1           2021-01-04 1     4           1
                 6292154    90cdeaf7-57ae-4e51-a2dd-b2751f4ad575 1           2021-01-04 1     4           0
...                                                                                                     ...
56726   20210720 6351020    36714daa-7124-4ee4-882a-7160de18381e 1           2021-07-20 7     20          0
                 6351187    e3600117-ebef-4bfd-99e6-d17cf6709887 1           2021-07-20 7     20          0
                 6351204    65bfbe46-e2bf-4ebd-ac5d-5247a9e3985a 1           2021-07-20 7     20          0
                 9080642    40e93c57-7972-49b9-aeee-cf1ebf6fe18f 1           2021-07-20 7     20          0
                 10068808   f1cb6b8e-8e53-45f3-95e8-634679084848 1           2021-07-20 7     20          1

                                                                                                   Enf_Propio
user_id date_id  LocationId SessionUId                           is_reported DateFormat month day
45788   20210102 6281501    0f1d8335-118c-4e4f-bde9-60b419b5cc1f 1           2021-01-02 1     2             0
                 6419133    4ad6d677-73ae-4b35-b2f3-8aaaa15801ec 1           2021-01-02 1     2             1
        20210104 6281514    50939153-6605-40e0-9588-435d6b71542a 1           2021-01-04 1     4             0
                 6291395    11843607-bf15-487f-8fcc-d785b13e4e50 1           2021-01-04 1     4             1
                 6292154    90cdeaf7-57ae-4e51-a2dd-b2751f4ad575 1           2021-01-04 1     4             0
...                                                                                                       ...
56726   20210720 6351020    36714daa-7124-4ee4-882a-7160de18381e 1           2021-07-20 7     20            0
                 6351187    e3600117-ebef-4bfd-99e6-d17cf6709887 1           2021-07-20 7     20            1
                 6351204    65bfbe46-e2bf-4ebd-ac5d-5247a9e3985a 1           2021-07-20 7     20            0
                 9080642    40e93c57-7972-49b9-aeee-cf1ebf6fe18f 1           2021-07-20 7     20            0
                 10068808   f1cb6b8e-8e53-45f3-95e8-634679084848 1           2021-07-20 7     20            0

[128650 rows x 3 columns]

In [15]:
table2 = moni.reset_index()
table2

,user_id,date_id,LocationId,SessionUId,is_reported,DateFormat,month,day,Enf_KO,Enf_Comp,Enf_Propio
0,45788,20210102,6281501,0f1d8335-118c-4e4f-bde9-60b419b5cc1f,1,2021-01-02,1,2,1,0,0
1,45788,20210102,6419133,4ad6d677-73ae-4b35-b2f3-8aaaa15801ec,1,2021-01-02,1,2,1,1,1
2,45788,20210104,6281514,50939153-6605-40e0-9588-435d6b71542a,1,2021-01-04,1,4,1,1,0
3,45788,20210104,6291395,11843607-bf15-487f-8fcc-d785b13e4e50,1,2021-01-04,1,4,2,1,1
4,45788,20210104,6292154,90cdeaf7-57ae-4e51-a2dd-b2751f4ad575,1,2021-01-04,1,4,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
128645,56726,20210720,6351020,36714daa-7124-4ee4-882a-7160de18381e,1,2021-07-20,7,20,1,0,0
128646,56726,20210720,6351187,e3600117-ebef-4bfd-99e6-d17cf6709887,1,2021-07-20,7,20,1,0,1
128647,56726,20210720,6351204,65bfbe46-e2bf-4ebd-ac5d-5247a9e3985a,1,2021-07-20,7,20,2,0,0
128648,56726,20210720,9080642,40e93c57-7972-49b9-aeee-cf1ebf6fe18f,1,2021-07-20,7,20,2,0,0
128649,56726,20210720,10068808,f1cb6b8e-8e53-45f3-95e8-634679084848,1,2021-07-20,7,20,2,1,0

In [16]:
table2=table2.sort_values(['LocationId', 'DateFormat'])
table2

,user_id,date_id,LocationId,SessionUId,is_reported,DateFormat,month,day,Enf_KO,Enf_Comp,Enf_Propio
10312,45800,20210111,5928469,0fdb7f1b-ff09-4aab-8f0a-87fd6b969ae4,1,2021-01-11,1,11,1,0,0
10526,45800,20210211,5928469,b65f009c-1268-4fb6-90fa-51728bbcbb26,1,2021-02-11,2,11,1,0,0
10849,45800,20210318,5928469,1e9f8651-5f23-4dd1-a097-0ab8ac01d779,1,2021-03-18,3,18,1,0,0
11075,45800,20210414,5928469,cfa28a8e-6ab6-440e-b9c7-65f5599826aa,1,2021-04-14,4,14,1,0,0
11276,45800,20210507,5928469,3a35c202-8ca0-4a1a-8d31-137365c7aeaa,1,2021-05-07,5,7,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
93111,45909,20210629,10050262,2488e28d-38ef-4170-9b20-354b04305dd1,1,2021-06-29,6,29,3,5,1
120214,53299,20210707,10068798,c3bbe435-ac50-4212-90e1-1ee6efa4ae9a,1,2021-07-07,7,7,2,0,0
120195,53299,20210702,10068804,b6c6dc99-8cc6-4699-bab9-27a5338b1bba,1,2021-07-02,7,2,1,0,0
128649,56726,20210720,10068808,f1cb6b8e-8e53-45f3-95e8-634679084848,1,2021-07-20,7,20,2,1,0
114359,52062,20210719,10069403,e1c88c47-6f20-4b89-9e1b-abf4195633c8,1,2021-07-19,7,19,1,0,0

In [17]:
table2["Coca-Cola"] = table2["Enf_KO"].shift(1)
table2["Competencia"] = table2["Enf_Comp"].shift(1)
table2["Propio"] = table2["Enf_Propio"].shift(1)
table2.dtypes

user_id                 int64
date_id                 int64
LocationId              int64
SessionUId             object
is_reported             int64
DateFormat     datetime64[ns]
month                   int64
day                     int64
Enf_KO                  int64
Enf_Comp                int64
Enf_Propio              int64
Coca-Cola             float64
Competencia           float64
Propio                float64
dtype: object

In [18]:
table2 = table2.fillna(0)

In [19]:
table2 = table2.astype({"Coca-Cola": int, "Competencia": int, "Propio": int, "LocationId": object})

In [20]:
table2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128650 entries, 10312 to 114359
Data columns (total 14 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id      128650 non-null  int64
 1   date_id      128650 non-null  int64
 2   LocationId   128650 non-null  object
 3   SessionUId   128650 non-null  object
 4   is_reported  128650 non-null  int64
 5   DateFormat   128650 non-null  datetime64[ns]
 6   month        128650 non-null  int64
 7   day          128650 non-null  int64
 8   Enf_KO       128650 non-null  int64
 9   Enf_Comp     128650 non-null  int64
 10  Enf_Propio   128650 non-null  int64
 11  Coca-Cola    128650 non-null  int32
 12  Competencia  128650 non-null  int32
 13  Propio       128650 non-null  int32
dtypes: datetime64[ns](1), int32(3), int64(8), object(2)
memory usage: 13.3+ MB

In [21]:
table2["LocationIdChanged"] = table2["LocationId"].shift(1, fill_value=table2["LocationId"].head(1)) != table2["LocationId"]
table2.dtypes

user_id                       int64
date_id                       int64
LocationId                   object
SessionUId                   object
is_reported                   int64
DateFormat           datetime64[ns]
month                         int64
day                           int64
Enf_KO                        int64
Enf_Comp                      int64
Enf_Propio                    int64
Coca-Cola                     int32
Competencia                   int32
Propio                        int32
LocationIdChanged              bool
dtype: object

In [22]:
table2["LocationIdChanged"] = table2["LocationIdChanged"].astype(object)
table2.dtypes

user_id                       int64
date_id                       int64
LocationId                   object
SessionUId                   object
is_reported                   int64
DateFormat           datetime64[ns]
month                         int64
day                           int64
Enf_KO                        int64
Enf_Comp                      int64
Enf_Propio                    int64
Coca-Cola                     int32
Competencia                   int32
Propio                        int32
LocationIdChanged            object
dtype: object

In [23]:
for OutletCodeChanged in table2:
      s = table2['LocationIdChanged'].unique()
      for i in s:
          if i == 'True':
              Flag_CC = 'change'
              
          else: 
              Flag_CC = table2["Enf_KO"] - table2["Coca-Cola"]

              table2['Flag_CC']=Flag_CC

In [24]:
for OutletCodeChanged in table2:
      s = table2['LocationIdChanged'].unique()
      for i in s:
          if i == 'True':
              Flag_Comp = 'change'
              
          else: 
              Flag_Comp = table2["Enf_Comp"] - table2["Competencia"]

              table2['Flag_Comp']=Flag_Comp

In [25]:
for OutletCodeChanged in table2:
      s = table2['LocationIdChanged'].unique()
      for i in s:
          if i == 'True':
              Flag_Prop = 'change'
              
          else: 
              Flag_Prop = table2["Enf_Propio"] - table2["Propio"]

              table2['Flag_Prop']=Flag_Prop

In [26]:
table2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128650 entries, 10312 to 114359
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   user_id            128650 non-null  int64
 1   date_id            128650 non-null  int64
 2   LocationId         128650 non-null  object
 3   SessionUId         128650 non-null  object
 4   is_reported        128650 non-null  int64
 5   DateFormat         128650 non-null  datetime64[ns]
 6   month              128650 non-null  int64
 7   day                128650 non-null  int64
 8   Enf_KO             128650 non-null  int64
 9   Enf_Comp           128650 non-null  int64
 10  Enf_Propio         128650 non-null  int64
 11  Coca-Cola          128650 non-null  int32
 12  Competencia        128650 non-null  int32
 13  Propio             128650 non-null  int32
 14  LocationIdChanged  128650 non-null  object
 15  Flag_CC            128650 non-null  int64
 16  Flag_Comp          128650 non-null  int64
 17  Flag_Prop          128650 non-null  int64
dtypes: datetime64[ns](1), int32(3), int64(11), object(3)
memory usage: 17.2+ MB

In [27]:
table_final = table2[['user_id', 'date_id', 'LocationId','SessionUId', 'is_reported', 'DateFormat', 'month', 'day', 'LocationIdChanged', 'Enf_KO', 'Flag_CC', 'Enf_Comp', 'Flag_Comp', 'Enf_Propio', 'Flag_Prop']]
table_final

,user_id,date_id,LocationId,SessionUId,is_reported,DateFormat,month,day,LocationIdChanged,Enf_KO,Flag_CC,Enf_Comp,Flag_Comp,Enf_Propio,Flag_Prop
10312,45800,20210111,5928469,0fdb7f1b-ff09-4aab-8f0a-87fd6b969ae4,1,2021-01-11,1,11,False,1,1,0,0,0,0
10526,45800,20210211,5928469,b65f009c-1268-4fb6-90fa-51728bbcbb26,1,2021-02-11,2,11,False,1,0,0,0,0,0
10849,45800,20210318,5928469,1e9f8651-5f23-4dd1-a097-0ab8ac01d779,1,2021-03-18,3,18,False,1,0,0,0,0,0
11075,45800,20210414,5928469,cfa28a8e-6ab6-440e-b9c7-65f5599826aa,1,2021-04-14,4,14,False,1,0,0,0,0,0
11276,45800,20210507,5928469,3a35c202-8ca0-4a1a-8d31-137365c7aeaa,1,2021-05-07,5,7,False,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93111,45909,20210629,10050262,2488e28d-38ef-4170-9b20-354b04305dd1,1,2021-06-29,6,29,True,3,1,5,4,1,1
120214,53299,20210707,10068798,c3bbe435-ac50-4212-90e1-1ee6efa4ae9a,1,2021-07-07,7,7,True,2,-1,0,-5,0,-1
120195,53299,20210702,10068804,b6c6dc99-8cc6-4699-bab9-27a5338b1bba,1,2021-07-02,7,2,True,1,-1,0,0,0,0
128649,56726,20210720,10068808,f1cb6b8e-8e53-45f3-95e8-634679084848,1,2021-07-20,7,20,True,2,1,1,1,0,0
114359,52062,20210719,10069403,e1c88c47-6f20-4b89-9e1b-abf4195633c8,1,2021-07-19,7,19,True,1,-1,0,-1,0,0

In [28]:
table_final = table_final.fillna(0)

In [29]:
print("flags-tt - Borrando los datos de la tabla")
query_clear_Exh_as = """ 
    
DELETE FROM reportes.Enfriadores_TT_2021

        """

flags-tt - Borrando los datos de la tabla

In [30]:
def get_engine():
    connection_string = "mssql+pyodbc://{0}@{2}:{1}@{2}.database.windows.net:{4}/{3}?driver=ODBC+Driver+17+for+SQL+Server".format(
                        'jrivas',
                        'XXXXX',
                        'koice',
                        'ko_ice',
                        1433)
    res = sqlalchemy.engine.create_engine(connection_string, connect_args={'autocommit': True})
    return res
    
def get_query(query):
    engine = get_engine()
    res = pd.read_sql(query, con=engine)
    return res

eng = get_engine()
conn = eng.connect()
conn.execute(query_clear_Exh_as)
conn.close()
#get_query(query_clear_Exh_as_cc_comp)


print("flags-as - Llenando la tabla")

flags-as - Llenando la tabla

In [33]:
engine = get_engine()
table_final.to_sql('Enfriadores_TT_2021', con=engine, schema='reportes', if_exists='append', index=False)